html,
body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(25deg, #d64c7f, #ee4758 50%);
  color: #FFFF;
  display: flex-start;
  text-align: center;
  object-fit: cover;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


nav {
  height: 10vh;
  background-color: aliceblue;
  top: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
}

.container {
  overflow: hidden;
  border: 3px solid;
  height: 90vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

canvas {
  width: 40vw;
  height: 30vw;
  background: rgba(0,0,0,.75);
  border: 1px solid #333;
  /* z-index: 2; */
  box-shadow:
      0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
}

.row {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border: 3px solid rgb(0, 0, 0); */
  text-align: center;
  padding: 10px;
  margin: 50px;
}

.column {
  flex: 1 1 0px;
  border: 10px;
  /* border:3px solid  rgb(182, 0, 0); */
  text-align: center;
}

video {
  width: 35vw;
  height: 30vw;
  margin: 2rem;
  background: #2c3e50;
  box-shadow:
      0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
}

button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: "";
  background: linear-gradient(45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
}